.main {
    position: absolute;
    right: 0px;
    top: 1.5em;
    font-size: 0.8em;

    & button {
        padding: 0.5em 1em;
        border: none;
        margin: 0px 0px 0px 2px;
        color: #4c4c4c;;

        &.first {
            padding: 0.5em 0.1em;
            border-radius: 10px 0px 0px 10px;
        }

        &.ring {
            animation: pulse 3s ease infinite alternate, 
        }

        &:hover {
            color: #000;
        }
    }
}

.wrapper {
    display: inline-flex;
}

.noDisplay {
    display: none;
}